*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 0.5px solid #f7f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 400px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #4085EC;
    margin-bottom: 30px;
}

.color-box{
    width: 250px;
    height: 150px;
    border: 0.5px solid #f7f2f2;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate-btn{
    padding: 10px 20px;
    background-color: #4085EC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.copy-btn{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.buttons{
    display: flex;
    gap: 20px;
}

.color-code{
    color: #fff;
    font-size: 2rem;
}